@media(max-width: 1150px){
    .screenshots .screenshot-frame{
        display: none;
    }
}
@media(max-width: 767px){
    .business-owner .owner{
        margin-bottom: 30px;
    }
    .features .feat{
        margin-left: 0;
    }
    .screenshots .image{
    margin: auto 10px;
    }
}
@media(max-width: 575px){
    
}
@media(max-width: 550px){
    .header .info h1{
    font-size: 35px;
    }
    .header .info form{
        width: 100%;
    }
    .header .info form button{
        font-size: 10px;
    }
    .business-owner h2{
        font-size: 22px;
    }
    .business-owner p{
        font-size: 15px;
    }
    .about .device h2{
        font-size: 22px;
    }
    .features .feat h2{
    font-size: 25px;
    }
    .features .feat h2 p{
    font-size: 22px;
    }
    .features .feat .prag{
        font-size: 15px;
    }
    .features .feat .icons .img{
        margin-left: 15px;
    }
    .managing .manag h2{
        font-size: 20px;
    }
    .managing .manag form button{
        font-size: 15px;
    }
    .pricing h2{
        font-size: 22px;
    }
    .pricing h3{
        font-size: 18px;
    }
    .pricing p{
        font-weight: bold;
        font-size: 12px;
    }
    .pricing .items .item h6{
        font-size: 13px;
    }
    .testimonials .info ul li{
        width: 80px;
    }
    .our-team p{
        width: 100%;
    }
    .contact{
        font-size: 12px;
    }
    .trusted h2{
        font-size: 22px;
    }
    .trusted p{
        width: 100%;
        font-size: 15px;
    }
    .footer .info .img {
        width: 30%;
    }
    .footer .img-footer{
        top: -5px;
    }
    .footer .img-footer form input{
        display: none;
    }
    .footer .img-footer form button{
        display: none;
    }
    .footer .info p{
        font-size: 12px;
    }
    .footer .links h5{
        margin-bottom: 10px;
    }
    .footer .support h5{
        margin-bottom: 10px;
    }
    .footer ul li{
        font-size: 12px;
    }
}
@media(max-width: 350px){
    
}
