@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
/* start navbar */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-image: linear-gradient(to right, rgba(32, 40, 119), rgba(55, 46, 149), rgba(83, 49, 177), rgba(114, 48, 205), rgba(150, 41, 230));
}
.navbar .collapse .nav-item a.nav-link{
    color: #FFF;
    opacity: .8;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.navbar .collapse .nav-item a.nav-link:hover{
    opacity: 1;
}
.navbar .collapse .nav-item a.nav-link span{
    position: absolute;
    top: -10px;
    right: -15px;
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid #dc3545;
    background-color: #dc3545;
    color: #EEE;
    font-size: 10px;
    font-weight: bold;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.navbar .collapse .nav-item a.nav-link:hover span{
    border: 1px solid #e41b2e;
    background-color: #e41b2e;
    color: #FFF;
}
/* end navbar */
/* start header */
.header{
    background-image: url(../image/app-hero-bg.jpg);
    background-position: center center;
    background-size: auto cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 0;
    display: block;
    overflow: hidden;
}
.header .overlay{
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.header .row{
    margin: 0;
}
.header .image{
    width: 100%;
}
.header .info{
    margin-top: 70px;
    color: #FFF;
    z-index: 999;
}
.header .info h1{
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.header .info span{
    font-weight: normal;
    font-size: 42px;
}
.header .info p{
    font-size: 18px;
}
.header .info form{
    width: 70%;
    position: relative;
    margin-bottom: 30px;
}
.header .info form input{
    width: 100%;
    padding: 15px 30px;
    border-radius: 40px;
    border: 1px solid #FFF;
    letter-spacing: 1px;
    color: #777;
    z-index: 999;
    position: relative;
}
.header .info form button{
    width: 30%;
    padding: inherit;
    border-radius: 240px;
    border: 2px solid #6730e3;
    background-color: #6730e3;
    color: #FFF;
    font-weight: 200;
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 999;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header .info form button:hover{
    background-color: #FFF;
    color: #000;
}
.header .info .watch{
    position: relative;
    z-index: 999;
}
.header .info .watch button{
    background-color: #FFF;
    color: #6730e3;
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 50px;
    height: 50px;
    line-height: 40px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header .info .watch button:hover{
    background-color: #6730e3;
    color: #FFF;
}
.header .info .watch button i{
    padding: inherit;
    line-height: 40px;
}
.header .image img{
    width: 100%;
    position: relative;
    z-index: 99;
    height: auto;
    margin-top: 80px;
}
.header .bottom-img{
    bottom: -1px;
    width: 100%;
    position: absolute;
}
/* end header */
/* start business owner */
.business-owner{
    padding: 100px 0;
    background-color: #FFF;
}
.business-owner h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 1);
}
.business-owner span{
    font-weight: 200;
}
.business-owner p{
    color: rgba(0, 0, 0, .7);
    font-size: 20px;
    width: 70%;
    margin: 0 auto 50px;
}
.business-owner .owner{
    background-color: #FFF;
    padding: 50px 0 20px;
    border: 1px solid #FFF;
    border-radius: 30px;
    will-change: transform;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .12);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.business-owner .owner:hover{
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(31,45,61,.2)
}
.business-owner .owner .icons i{
    background-image: url(../image/promo-icon-bg.svg);
    background-repeat: no-repeat;
    background-position: 45% 25%;
    background-size: 150px;
    padding: 30px;
    color: #FFF;
}
.business-owner .owner h5{
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}
.business-owner .owner p{
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
}
/* end business owner */
/* start about */
.about{
    background-image: url(../image/about-bg-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.about .device{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about .device h2{
    font-size: 35px;
    font-weight: bold;
}
.about .device h2 p{
    font-size: 30px;
    font-weight: 200;
}
.about .device .part{
    width: 100%;
    margin-bottom: 30px;
}
.about .device .part .icons{
    display: inline-block;
    float: left;
    margin-right: 15px;
    background-color: #FFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 30px 40px 0 rgba(52,27,159,.1);
}
.about .device .part p{
    flex: 1;
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
}
.about .image{
    width: 80%;
}
.about .image img{
    width: 100%;
    object-fit: cover;
}
/* end about */
/* start features */
.features{
    padding: 100px 0;
}
.features .image{
    width: 80%;
}
.features .image img{
    width: 100%;
    object-fit: cover;
}
.features .feat{
    margin-top: 50px;
    margin-left: 30px;
}
.features .feat h2{
    font-size: 35px;
    font-weight: bold;
}
.features .feat h2 p{
    font-size: 30px;
    font-weight: normal;
}
.features .feat .prag{
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
}
.features .feat .icons{
    margin-top: 50px;
}
.features .feat .icons .img{
    display: inline-block;
    float: left;
    margin-right: 20px;
    background-color: #FFF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 30px 40px 0 rgba(52,27,159,.1);
    border: 1px solid #EEE;
}
/* end features */
/* start managing */
.managing{
    padding: 100px 0 0;
    background-image: url(../image/app-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #FFF;
}
.managing .overlay{
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.managing .manag h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
.managing .manag p{
    line-height: 2;
    letter-spacing: 2;
    font-size: 18px;
}
.managing .manag form{
    margin-top: 20px;
}
.managing .manag form button{
    border: 1px solid #FFF;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.managing .manag form button.active{
    margin-right: 20px;
    background-color: #FFF;
    color: #6730e3;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.managing .manag form button.active:hover{
    background-color: transparent;
    color: #FFF;
}
.managing .manag form button:hover{
    background-color: #FFF;
    color: #6730e3;
}
.managing .manag form button i{
    margin-right: 5px;
}
.managing .image{
    width: 80%;
}
.managing .image img{
    width: 100%;
}
/* end managing */
/* start pricing */
.pricing {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.pricing .overlay{
    background-image: url(../image/shape-bg-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    right: -50%;
    top: -8%;
    width: 100%;
    height: 100%;
}
.pricing h2{
    font-weight: bold;
    font-size: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.pricing h3{
    width: 70%;
    margin: auto;
}
.pricing p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.pricing .pricing-card{
    background-color: #FFF;
    border: 1px solid #EEE;
    padding: 30px 0 50px;
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.pricing .pricing-card.active{
    border-top: 4px solid #9629e6;
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125);
    transform: translateY(-3px);
}
.pricing .pricing-card:hover{
    border-top: 4px solid #9629e6;
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125);
    transform: translateY(-5px);
    border-radius: 20px;
}
.pricing .pricing-card h6{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}
.pricing .pricing-card .img{
    width: 35%;
    margin: auto;
    margin-bottom: 50px;
}
.pricing .pricing-card .img img{
    width: 100%;
    height: auto;
}
.pricing .pricing-card .h1{
    color: rgba(0, 0, 0, .5);
    border-bottom: 1px solid #EEE;
    padding: 20px;
    width: 60%;
    margin: auto;
    font-weight: bold;
}
.pricing .pricing-card p{
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    margin: 20px auto;
    line-height: 2;
}
.pricing .pricing-card.active button:hover,
.pricing .pricing-card button{
    background-color: transparent;
    border: 2px solid #6730e3;
    color: #6730e3;
    border-radius: 30px;
    padding: 10px 20px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.pricing .pricing-card button:hover,
.pricing .pricing-card.active button{
    background-color: #6730e3;
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.pricing h5{
    margin-top: 50px;
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    margin-bottom: 50px;
}
.pricing h5 a{
    text-decoration: none;
    color: #6730e3;
}
.pricing .items .item{
    border: 1px solid #EEE;
    border-radius: 5px;
    margin-bottom: 20px;
}
.pricing .items .item .icons{
    border-bottom: 1px solid #EEE;
    padding: 20px;
}
.pricing .items .item .icons i:first-child{
    color: rgba(0, 0, 0, .5);
    display: inline-block;
    margin-right: 20px;
}
.pricing .items .item .icons .fa-plus{
    float: right;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    display: inline-block;
}
.pricing .items .item .icons .fa-minus{
    float: right;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    display: none;
}
.pricing .items .item.active .icons .fa-plus{
    display: none;
}
.pricing .items .item.active .icons .fa-minus{
    display: inline-block;
}
.pricing .items .item p{
    width: 100%;
    font-size: 16px;
    display: inline-block;
    padding: 20px;
    display: none;
}
.pricing .items .item h6{
    display: inline-block;
}
.pricing .items .item p{
    color: rgba(0, 0, 0, .7);
}
/* end pricing */
/* start testimonials */
.testimonials{
    padding: 100px 0;
}
.testimonials h2{
    font-weight: bold;
    margin-bottom: 10px;
}
.testimonials .info h2{
    font-weight: 300;
    margin-bottom: 20px;
}
.testimonials .info p{
    color: rgba(0, 0, 0, .5);
    width: 70%;
}
.testimonials .info ul li{
    width: 100px;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;
}
.testimonials .info ul li:last-child{
    margin-right: 0;
}
.testimonials .info ul li img{
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.testimonials .info ul li:hover img{
    transform: scale(1.08);
}
.testimonials .testimonial{
    margin-bottom: 100px;
}
.testimonials .testimonial:focus{
    outline: none;
}
.testimonials .testimonial .test .img{
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}
.testimonials .testimonial .test .img img{
    width: 100%;
}
.testimonials .testimonial .test .name{
    display: inline-block;
    margin-left: 20px;
}
.testimonials .testimonial .test .name h5{
    font-weight: bold;
}
.testimonials .testimonial .test .name p{
    color: rgba(0, 0, 0, .5);
}
.testimonials .testimonial .test .detalis{
    margin-top: 2px;
}
.testimonials .testimonial .test .detalis img{
    width: 25px;
    float: left;
    display: inline-block;
    margin-right: 20px;
    font-size: 10px;
}
.testimonials .testimonial .test .detalis p{
    color: rgba(0, 0, 0, .5);
    display: inline;
}
.testimonials .slick-arrow{
    border-radius: 50%;
    background-color: #FFF;
    color: #6730e3;
    border: 1px solid #EEE;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 0 1px #ebebeb;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 99;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.testimonials .slick-next{
    left: 60px;
}
.testimonials .slick-arrow:hover{
    background-color: #6730e3;
    color: #FFF;
}
/* end testimonials */
/* start screenshots */
.screenshots{
    padding: 100px 0;
    background-color: #6730e3;
    color: #FFF;
    overflow: hidden;
}
.screenshots h2{
    font-weight: bold;
}
.screenshots h3{
    font-weight: normal;
}
.screenshots p{
    width: 63%;
    margin: auto;
    line-height: 2;
    margin-bottom: 50px;
}
.screenshots .slick-list{
    overflow: visible;
}
.screenshots .frame{
    position: relative;
}
.screenshots .screenshot-frame{
    background-image: url(../image/phone-frame2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: block;
    width: 310px;
    height: 100%;
    position: absolute;
    top: -35px;
    left: 36%;
    z-index: 5;
    border-radius: 30px;
    pointer-events: none;
}
.screenshots .image{
    width: 250px;
    height: 570px;
    border-radius: 30px;
    margin: auto 20px;
    border: 1px solid #EEE;
    display: block;
}
.screenshots .image img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    display: block;
}
.screenshots .slick-center{
    transform: scale(1.05);
    
}
.screenshots .slick-dots{
    list-style: none;
    margin-top: 50px;
}
.screenshots .slick-dots li{
    display: inline-block;
}
.screenshots .slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    margin-right: 10px;
}
.screenshots .slick-dots .slick-active button{
    background-color: #9629e6;
    border: 1px solid #9629e6;
}
.screenshots .slick-dots li button:focus{
    outline: none;
}
/* end screenshots */
/* start our-team */
.our-team{
    padding: 100px 0;
    background-color: #f4f7fa;
}
.our-team h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.our-team p{
    width: 50%;
    margin: auto;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 50px;
}
.our-team .iteams{
    position: relative;
    width: 100%;
}
.our-team .image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.our-team .image img{
    width: 100%;
    height: 100%;
}
.our-team .team{
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.85), rgba(55, 46, 149, 0.9), rgba(83, 49, 177, 0.85), rgba(114, 48, 205, 0.8), rgba(150, 41, 230, 0.8));
    color: #FFF;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.our-team .select:hover .team{
    opacity: 1;
}
.our-team .team h5{
    font-weight: bold;
    margin-top: 30%;
}
.our-team .team span{
    font-weight: 300;
    margin-bottom: 30px;
    display: block;
}
.our-team .team ul li{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
/* end our-team */
/* start latest */
.latest{
    padding: 100px 0;
}
.latest h2{
    font-weight: bold;
}
.latest p{
    color: rgba(0, 0, 0, .7);
    line-height: 2;
    font-size: 15px;
    margin-bottom: 50px;
}
.latest .card{
    margin-bottom: 30px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.latest .card .btn{
    width: auto;
    padding: 3px 5px;
    display: inline;
    border-radius: 15px;
    font-size: 10px;
    position: absolute;
    top: 8px;
    right: 8px;
}
.latest .card .span.btn-primary,
.latest .card .span.btn-danger,
.latest .card .span.btn-info{
    width: auto;
}
.latest .card ul li{
    display: inline-block;
    color: rgba(0, 0, 0, .5);
    margin-right: 20px;
    font-size: 10px;
}
.latest .card h5{
    font-size: 18px;
    cursor: pointer;
}
.latest .card a{
    color: #000;
    text-decoration: none;
    font-size: 13px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.latest .card a i{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.latest .card a:hover{
    color: #6730e3;
}
.latest .card a:hover i{
    margin-left: 10px;
}
/* end latest */
/* start contact */
.contact{
    padding: 100px 0;
    background-color: #f4f7fa;
}
.contact h3{
    font-weight: bold;
    margin-bottom: 20px;
}
.contact p,
.contact span,
.contact h6{
    color: rgba(0, 0, 0, .5);
    display: block;
}
.contact span a{
    text-decoration: none;
}
.contact span a:hover{
    color: #6730e3;
}
.contact h5{
    font-weight: 600;
}
.contact form{
    opacity: .7;
}
.contact form input{
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    border: 1px solid #EEE;
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    border-radius: 5px;
}
.contact form textarea{
    width: 100%;
    height: 200px;
    padding: 20px;
    color: rgba(0, 0, 0, .5);
    border: 1px solid #EEE;
    font-size: 12px;
    border-radius: 5px;
}
.contact form textarea:focus,
.contact form input:focus{
    border: 1px solid #6730e3;
}
.contact form button{
    border: 2px solid #6730e3;
    display: block;
    margin-top: 30px;
    color: #FFF;
    background-color: #6730e3;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 20px 30px 0 rgba(67,37,204,.2);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.contact form button:hover{
    background-color: #FFF;
    color: #6730e3;
}
/* end contact */
/* start trusted */
.trusted{
    padding: 100px 0;
}
.trusted h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.trusted p{
    width: 70%;
    margin: auto;
    color: rgba(0, 0, 0, .5);
    letter-spacing: 2;
    line-height: 2;
    margin-bottom: 50px;
    font-size: 18px;
}
.trusted .trust .image{
    margin-right: 20px;
    display: block;
}
.trusted .trust .image img{
    object-fit: contain;
    width: 100%;
}
.trusted .slick-initialized .slick-slide:focus{
    outline: none;
}
/* end trusted */
/* start footer */
.footer{
    background-image: url(../image/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: #FFF;
    position: relative;
}
.footer .img-footer{
    position: absolute;
    top: -1px;
    left: 0;
}
.footer .img-footer img{
    width: 100%;
}
.footer .img-footer form{
    width: 40%;
    position: relative;
    text-align: center;
    left: 30%;
    top: -50px;
}
.footer .img-footer form input{
    width: 100%;
    padding: 15px 30px;
    border-radius: 40px;
    border: 1px solid #EEE;
    letter-spacing: 1px;
    color: #777;
    z-index: 999;
    position: relative;
}
.footer .img-footer form input:focus{
    outline: none;
}
.footer .img-footer form button{
    width: 30%;
    padding: inherit;
    border-radius: 240px;
    border: 2px solid #6730e3;
    background-color: #6730e3;
    color: #FFF;
    font-weight: 200;
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 999;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.footer .img-footer form button:hover{
    background-color: #FFF;
    color: #000;
}
.footer .info{
    width: 100%;
}
.footer .info .img{
    width: 50%;
    margin-bottom: 30px;
}
.footer .info .img img{
    width: 100%;
}
.footer .info p{
 line-height: 2;   
}
.footer .info ul li{
    display: inline-block;
    margin-right: 20px;
}
.footer .info ul li i{
    cursor: pointer;
    opacity: .8;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.footer .info ul li i:hover{
    opacity: 1;
}
.footer .links h5{
    font-weight: bold;
    margin-bottom: 30px;
}
.footer .links ul li{
    line-height: 2;
}
.footer .links ul li a{
    color: #FFF;
    opacity: .8;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.footer .links ul li a:hover{
    opacity: 1;
}
.footer .support h5{
    font-weight: bold;
    margin-bottom: 30px;
}
.footer .support ul li{
    line-height: 2;
}
.footer .support ul li i{
    margin-right: 10px;
}
.footer .photo h5{
    font-weight: bold;
    margin-bottom: 30px;
}
/* end footer */
/* start copyright */
.copyright{
    padding: 20px 0;
    background-color: #f4f7fa;
}
.copyright p{
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    margin: 0;
}
.copyright p a{
    text-decoration: none;
}
/* end copyright */
.row{
    margin: 0;
    padding: 0;
}