@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
/* start navbar */
.navbar{
    font-size: 15px;
}
/* end navbar */
/* start header */
.header .info h1{
    font-size: 31px;
}
.header .info p{
    font-size: 14px;
}
.header .info form{
    width: 70%;
    position: relative;
    margin-bottom: 30px;
}
.header .info form input{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35%;
}
.header .info form button{
    font-size: 15px;
}
.header .info .watch button{
    margin-left: 10px;
}
.header .bottom-img{
    transform: rotateY(180deg);
}
/* end header */
/* start business owner */
.business-owner p{
    font-size: 15px;
}
.business-owner .owner{
    padding: 50px 30px;
}
.business-owner .owner h5{
    font-weight: 500;
}
/* end business owner */
/* start about */
.about .device h2 p{
    font-size: 25px;
    font-weight: 500;
    line-height: 2;
}
.about .device .part{
    margin-bottom: 50px;
}
.about .device .part .icons{
    float: right;
    margin-left: 20px;
}
.about .device .part p{
    font-size: 13px;
}
/* end about */
/* start features */
.features .feat{
    margin-right: 50px;
}
.features .feat h2{
    font-size: 35px;
    font-weight: bold;
}
.features .feat h2 p{
    font-weight: 400;
    line-height: 2;
}
.features .feat .icons .img{
    float: right;
    margin-left: 20px;
}
/* end features */
/* start managing */
.managing .manag h2{
    font-size: 30px;
}
.managing .manag p{
    font-size: 15px;
}
.managing .manag form button.active{
    margin-left: 20px;
}
.managing .manag form button i{
    margin-left: 5px;
}
/* end managing */
/* start pricing */
.pricing .items .item .icons i:first-child{
    margin-left: 20px;
}
.pricing .items .item .icons .fa-plus{
    float: left;
}
.pricing .items .item .icons .fa-minus{
    float: left;
}
/* end pricing */
/* start testimonials */
.testimonials .info h2{
    font-weight: 400;
}
.testimonials .info p{
    width: 80%;
}
.testimonials .info ul li{
    margin-left: 50px;
    margin-right: 0;
}
.testimonials .info ul li:last-child{
    margin-left: 0;
}
.testimonials .testimonial .test .name{
    margin-right: 20px;
}
.testimonials .testimonial .test .detalis img{
    float: right;
    margin-left: 20px;
}
.testimonials .slick-next{
    left: 60px;
}
/* end testimonials */
/* start our-team */
.our-team .team ul li{
    margin-left: 10px;
}
/* end our-team */
/* start footer */
.footer .img-footer{
    right: 0;
}
.footer .img-footer form{
    right: 30%;
}
.footer .img-footer form input{
    width: 100%;
    padding: 15px 60% 15px 0;
    border-radius: 40px;
    border: 1px solid #EEE;
    letter-spacing: 1px;
    color: #777;
    z-index: 999;
    position: relative;
}
.footer .info ul li{
    margin-left: 20px;
}
/* end footer */